*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}
.header{
	height: 500px;
	width: 100%;
	background-image: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)),
     url("../img/about_background.png");	
	background-repeat: no-repeat;
	background-size: cover;
	position: static;
    text-align: center;
	padding: 100px 0;
	
	
}
h8{
	font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  margin: 0;
  
  font-size: 120px;
  transform: translate(-50%, -50%);
}

.row{
	
	
	text-align: center;
	padding: 0px 150px;
	background: #fff;
	border-radius: 20px;
	margin: -100px 200px;
	
	margin-bottom: 100px;
	
	border: solid #BA1628 10px;
	
	
}


h3{
	font-size: 30px;
	background-color: #BA1628;
	border-radius: 10px;
	padding: 20px;
	color: aliceblue;
	border: solid  #989292;
	margin: 50px 0;
	
}
p{
	font-size: 18px;
    font-weight: 300;
    align-items: center;
    text-align: left;
    word-spacing: 3px;
	margin: 20px;
}
	

	
		

html {
  height: 100%;
	scroll-behavior: smooth;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
footer {
  margin-top: auto;
  background-color: #3b3b3b;
	color: aliceblue;
	width: 100%;
	padding: 0px 20%;
	margin: 0;
	height: 150px;
	align-items: center;
	display: flex;
	
    
}
h2{
	font-size: 15px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-weight: 300;
	display: flex;
	align-items: center;
	margin-bottom: 30px;
	
		
}
.social{
	    position: absolute;
    right: 25%;
}
.social_media {
    margin: 10px 0px 10px 15px;
}
.social_media .fa-facebook-square{
	font-size: 40px;
	color: white;
	text-decoration: none;
}

.social_media .fa-instagram{
	font-size: 40px;
	color: white;
	text-decoration: none;
}

.social_media .fa-youtube-square{
	font-size: 40px;
	color: white;
	text-decoration: none;
}

		

h5{
	font-family: Times, "Times New Roman", "serif";
	font-size: 16px;
	color: white;
	padding: 0px 100px;
	position: absolute;
	right: 236px;
	
}
.picture{
	height: 300px;
	width: 400px;
	float: right;
	border-radius: 10px;
	padding: 20px;
}
.picture1{
	height: 100%;
	width: 100%;
	border-radius: 10px;
	padding: 20px;
	
	
}
/* BACK TO TOP */



.back-to-top {
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: #BA1628;
	border-radius: 0.5rem;
	padding: 0.5rem;
	text-decoration: none;
	transition: 0.2s ease-out;
}

.back-to-top span {
	color: #fff;
	font-size: 3rem;
	transition: 0.2s ease-out;
}

.back-to-top:hover {
	background-color: #be1a3b;
}
.back-to-top:hover span {
	transform: translateY(-4px);
}
